
.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1em;
  color: #239EFE;
}

.text-custom-primary {
  color: #239EFE !important;
} 

.bg-custom-primary {
  color: #239EFE !important;
}

  @media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }

  @media only screen and (max-width: 992px) {
    .dropdown:hover .dropdown-menu {
      max-height: 350px;
      overflow-y: scroll;
    }
  }